<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.azuray.decodeme.mapper.VoteHeadMapper" >
  <resultMap id="BaseResultMap" type="com.azuray.decodeme.entity.vo.vote.VoteHead" >
    <id column="vote_id" property="voteId" jdbcType="BIGINT" />
    <result column="vote_name" property="voteName" jdbcType="VARCHAR" />
    <result column="vote_note" property="voteNote" jdbcType="VARCHAR" />
    <result column="vote_type" property="voteType" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="vote_user_code" property="voteUserCode" jdbcType="VARCHAR" />
    <result column="vote_user_name" property="voteUserName" jdbcType="VARCHAR" />
    <result column="is_private" property="isPrivate" jdbcType="BIT" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="user_nums" property="userNums" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    vote_id, vote_name, vote_note, vote_type, keywords, vote_user_code, vote_user_name,
    is_private, is_delete, user_nums, start_time, end_time, create_time, ts
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from vote_head
    where vote_id = #{voteId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vote_head
    where vote_id = #{voteId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.azuray.decodeme.entity.vo.vote.VoteHead" >
    insert into vote_head (vote_id, vote_name, vote_note,
      vote_type, keywords, vote_user_code,
      vote_user_name, is_private, is_delete,
      user_nums, start_time, end_time,
      create_time, ts)
    values (#{voteId,jdbcType=BIGINT}, #{voteName,jdbcType=VARCHAR}, #{voteNote,jdbcType=VARCHAR},
      #{voteType,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, #{voteUserCode,jdbcType=VARCHAR},
      #{voteUserName,jdbcType=VARCHAR}, #{isPrivate,jdbcType=BIT}, #{isDelete,jdbcType=BIT},
      #{userNums,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP}, #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.azuray.decodeme.entity.vo.vote.VoteHead" >
    insert into vote_head
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="voteId != null" >
        vote_id,
      </if>
      <if test="voteName != null" >
        vote_name,
      </if>
      <if test="voteNote != null" >
        vote_note,
      </if>
      <if test="voteType != null" >
        vote_type,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="voteUserCode != null" >
        vote_user_code,
      </if>
      <if test="voteUserName != null" >
        vote_user_name,
      </if>
      <if test="isPrivate != null" >
        is_private,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="userNums != null" >
        user_nums,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="voteId != null" >
        #{voteId,jdbcType=BIGINT},
      </if>
      <if test="voteName != null" >
        #{voteName,jdbcType=VARCHAR},
      </if>
      <if test="voteNote != null" >
        #{voteNote,jdbcType=VARCHAR},
      </if>
      <if test="voteType != null" >
        #{voteType,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="voteUserCode != null" >
        #{voteUserCode,jdbcType=VARCHAR},
      </if>
      <if test="voteUserName != null" >
        #{voteUserName,jdbcType=VARCHAR},
      </if>
      <if test="isPrivate != null" >
        #{isPrivate,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="userNums != null" >
        #{userNums,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.azuray.decodeme.entity.vo.vote.VoteHead" >
    update vote_head
    <set >
      <if test="voteName != null" >
        vote_name = #{voteName,jdbcType=VARCHAR},
      </if>
      <if test="voteNote != null" >
        vote_note = #{voteNote,jdbcType=VARCHAR},
      </if>
      <if test="voteType != null" >
        vote_type = #{voteType,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="voteUserCode != null" >
        vote_user_code = #{voteUserCode,jdbcType=VARCHAR},
      </if>
      <if test="voteUserName != null" >
        vote_user_name = #{voteUserName,jdbcType=VARCHAR},
      </if>
      <if test="isPrivate != null" >
        is_private = #{isPrivate,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="userNums != null" >
        user_nums = #{userNums,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where vote_id = #{voteId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.azuray.decodeme.entity.vo.vote.VoteHead" >
    update vote_head
    set vote_name = #{voteName,jdbcType=VARCHAR},
      vote_note = #{voteNote,jdbcType=VARCHAR},
      vote_type = #{voteType,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      vote_user_code = #{voteUserCode,jdbcType=VARCHAR},
      vote_user_name = #{voteUserName,jdbcType=VARCHAR},
      is_private = #{isPrivate,jdbcType=BIT},
      is_delete = #{isDelete,jdbcType=BIT},
      user_nums = #{userNums,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP}
    where vote_id = #{voteId,jdbcType=BIGINT}
  </update>
</mapper>